<div class="sign-in box span6 offset3">
  <h2>Logos Inov</h2>
  <hr />
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false, :label => "Senha" %>
      <%= f.input :remember_me, :as => :boolean, :label => "Lembrar senha", :wrapper => false if devise_mapping.rememberable? %>
      <%= f.button :submit, "Entrar", :class => "btn-primary", :style => "float:right;" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>



<!-- Sign In Option 1 -->
<div id="sign_in1" style="margin-bottom:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
                <h4>Entrar na sua conta</h4>
                <p>
                    There are many variations of passages of Lorem alteration in some form  injected humour these randomised words .</p>
            </div>

            <div class="col-md-12 footer">

                <form accept-charset="UTF-8" action="/funcionarios/sign_in" class="form-inline" id="new_funcionario" method="post" novalidate="novalidate">
                    
                    <input type="text" autofocus="autofocus" placeholder="Email" class="form-control" id="funcionario_email" name="funcionario[email]" size="50" type="email" value="">

                    <input class="password optional" id="funcionario_password form-control" name="funcionario[password]" size="50" type="password">

                    <input type="password" placeholder="Password" class="form-control">
                    <input type="submit" value="ENTRAR">
                </form>
            </div>

            <div class="col-md-12 proof">
                <div class="col-md-6 remember">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="http://cleancanvas.herokuapp.com/reset.html">Esqueci a senha</a>
                </div>

                <div class="col-md-6">
                    <div class="dosnt">
                        <span>Don’t have an account?</span>
                        <a href="http://cleancanvas.herokuapp.com/sign-up.html">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- starts footer -->
<footer id="footer" style="margin-top:0px">
    <div class="container">
        <div class="row info">
        </div>
    </div>
</footer>

<script src="./Business Template_files/jquery-latest.js"></script>
<script src="./Business Template_files/bootstrap.min.js"></script>
<script src="./Business Template_files/theme.js"></script>