<%= simple_form_for(@funcionario, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome, :label => "Nome: " %>
    <%= f.input :sobrenome, :label => "Sobrenome: " %>
    <%= f.input :endereco, :label => "Endereço: " %>
    <%= f.input :bairro, :label => "Bairro: " %>
    <%= f.input :complemento, :label => "Complemento: " %>
    <%= f.input :cep, :label => "CEP: " %>
    <%= f.input :cidade, :label => "Cidade: " %>
    <%= f.input :estado, :label => "Estado: " %>
    <%= f.input :telefone, :label => "Telefone: " %>
    <%= f.input :celular, :label => "Celular: " %>
    <%= f.input :email, :label => "E-mail: ", :required => true %>
    <%= f.input :password, :label => "Senha: ", :required => true if ((current_funcionario.has_role? :administrador) || (@funcionario.id == current_funcionario.id)) %>
    <%= f.input :rg, :label => "RG: " %>
    <%= f.input :cargo, :label => "Cargo: " %>
    
    <% roles = {"Administrador" => 1, "Gerente" => 2, "Atendente" => 4, "Signmaker" => 8} if current_funcionario.has_role? :administrador %>
    <% roles = {"Gerente" => 2, "Atendente" => 4, "Signmaker" => 8} if current_funcionario.has_role? :gerente %>
    <% roles = {"Atendente" => 4} if current_funcionario.has_role? :atendente %>
    <% roles = {"Signmaker" => 8} if current_funcionario.has_role? :signmaker %>
    <%= f.input :roles_mask, as: :radio_buttons, :collection => roles, :label => "Papel: " %>
    
    <%= f.input :data_admissao, :as => :string, :input_html => {:class =>"datepicker"}, :label => "Data de admissão: " %>
    <%= f.input :data_demissao, :as => :string, :input_html => {:class =>"datepicker"}, :label => "Data de demissão: " %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar Funcionário", :class => "btn btn-primary" if params[:action] == "new" || params[:action] == "create" %>
    <%= f.button :submit, "Atualizar Funcionário", :class => "btn btn-primary" if params[:action] == "edit" || params[:action] == "update" %>
    <%= link_to 'Cancelar', funcionarios_path, :class => "btn btn-inverse" %>
  </div>
<% end %>
