<div class="row">
    <div class="span10">
        <h1>Funcionários</h1>
    </div>
    <% if can? :create, Funcionario %>
      <div class="span2">
          <%= link_to new_funcionario_path, :class => "btn btn-primary btn-novo" do %>
              <i class="icon-plus icon-white"></i>
              <b><%= "Funcionário" %></b>
          <% end %>
      </div>
    <% end %> 
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>E-mail</th>
    <th>Cargo</th>
    <th>Papel</th>
    <th>Ações</th>
    <% if can? :update, Funcionario %>
      <th class="sem-borda-esquerda"></th>
    <% end %>
    <% if can? :destroy, Funcionario %>
      <th class="sem-borda-esquerda"></th>
    <% end %>
  </tr>

<% @funcionarios.each do |funcionario| %>
  <tr>
    <td><%= funcionario.nome %></td>
    <td><%= funcionario.telefone %></td>
    <td><%= funcionario.celular %></td>
    <td><%= funcionario.email %></td>
    <td><%= funcionario.cargo %></td>
    <td><%= Funcionario::ROLES[funcionario.role_symbols[0]] %></td>
    <td class="botao-acao primeiro-botao">
      <%= link_to funcionario, :class => "btn btn-mini" do %>
        <i class="icon-eye-open"></i>
        <%= "Mostrar" %>
      <% end %>
    </td>
    
    <% if can? :update, Funcionario %>
      <td class="botao-acao sem-borda-esquerda">
        <%= link_to edit_funcionario_path(funcionario), :class => "btn btn-info btn-mini" do %>
          <i class="icon-pencil icon-white"></i>
          <%= "Editar" %>
        <% end %>
      </td>
    <% end %>
    
    <% if can? :destroy, Funcionario %>
      <td class="botao-acao sem-borda-esquerda">
        <%= link_to funcionario, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir este Funcionario?' }, :class => "btn btn-danger btn-mini" do %>
          <i class="icon-trash icon-white"></i>
          <%= "Excluir" %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="span12">
    <%= paginate @funcionarios %>
</div>
<br />
