<div class="thumbnail box">
  <div class="page-header row">
    <h3 class="span12">Funcionário</h3>
  </div>
  <p>
    <b>Nome:</b>
    <%= @funcionario.nome %>
  </p>

  <p>
    <b>Sobrenome:</b>
    <%= @funcionario.sobrenome %>
  </p>

  <p>
    <b>Endereço:</b>
    <%= @funcionario.endereco %>
  </p>

  <p>
    <b>Bairro:</b>
    <%= @funcionario.bairro %>
  </p>

  <p>
    <b>Complemento:</b>
    <%= @funcionario.complemento %>
  </p>

  <p>
    <b>CEP:</b>
    <%= @funcionario.cep %>
  </p>

  <p>
    <b>Cidade:</b>
    <%= @funcionario.cidade %>
  </p>

  <p>
    <b>Estado:</b>
    <%= @funcionario.estado %>
  </p>

  <p>
    <b>Telefone:</b>
    <%= @funcionario.telefone %>
  </p>

  <p>
    <b>Celular:</b>
    <%= @funcionario.celular %>
  </p>

  <p>
    <b>E-mail:</b>
    <%= @funcionario.email %>
  </p>

  <p>
    <b>RG:</b>
    <%= @funcionario.rg %>
  </p>

  <p>
    <b>Cargo:</b>
    <%= @funcionario.cargo %>
  </p>

  <p>
    <b>Papel:</b>
    <%= Funcionario::ROLES[@funcionario.role_symbols[0]] %>
  </p>

  <p>
    <b>Data admissão:</b>
    <%= @funcionario.data_admissao %>
  </p>

  <p>
    <b>Data demissão:</b>
    <%= @funcionario.data_demissao %>
  </p>
</div>

<%= link_to edit_funcionario_path(@funcionario), :class => "btn btn-info" do %>
  <i class="icon-pencil icon-white"></i>
  <%= "Editar" %>
<% end %>

<%= link_to funcionarios_path, :class => "btn btn-inverse" do %>
  <i class=" icon-chevron-left icon-white"></i>
  <%= "Voltar" %>
<% end %>